/
  *** MAIN ***
  _________________________________________________________
.all
  #content
    .container
      .row
        = render "layouts/user_section"
        .col-lg-9
          #customer_orders.box
            %h1 My orders
            %p.lead Your orders on one place.
            %p.text-muted
              If you have any questions, please feel free to
              = succeed "," do
                %a{:href => "contact.html"} contact us
            %hr/
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Order
                    %th Date
                    %th{:colspan => "2"} Status
                %tbody
                  - @orders.each do | order |
                    %tr
                      %th
                        = order.id
                      %td
                        = order.date
                      %td
                        %span.badge.bg-primary
                          = order.status
