<!--
    *** MAIN SECTION ***
    ___________________________________________
    -->
<div id="all">
  <div id="content">
    <div class="container">
      <!-- *** Slide *** -->
      <div
            id="carouselIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
        <div class="carousel-indicators">
          <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="0"
                class="active"
              ></button>
          <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="1"
              ></button>
          <button
                type="button"
                data-bs-target="#carouselIndicators"
                data-bs-slide-to="2"
              ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <%= image_tag "main-slider1", class: "d-block w-100" %>
            <%# <img
                  src="images/main-slider1.jpg"
                  class="d-block w-100"
                  alt="img-fluid"
                /> %>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <%= image_tag "main-slider2", class: "d-block w-100" %>
            <%# <img
                  src="images/main-slider2.jpg"
                  class="d-block w-100"
                  alt="img-fluid"
                /> %>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <%= image_tag "main-slider3", class: "d-block w-100" %>
            <%# <img
                  src="images/main-slider3.jpg"
                  class="d-block w-100"
                  alt="img-fluid"
                /> %>
          </div>
        </div>
      </div>

      <!--
          *** ADVANTAGES HOMEPAGE ***
          _________________________________________________________
          -->
      <div id="advantages">
        <div class="container">
          <div class="row mb-4">
            <div class="col-md-4">
              <div
                    class="box d-flex flex-column justify-content-center mb-0 h-100"
                  >
                <div class="icon"><i class="fa fa-heart"></i></div>
                <h3>We love our customers</h3>
                <p class="mb-0">
                  We are known to provide best possible service ever
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                    class="box d-flex flex-column justify-content-center mb-0 h-100"
                  >
                <div class="icon"><i class="fa fa-tags"></i></div>
                <h3>Best prices</h3>
                <p class="mb-0">
                  You can check that the height of the boxes adjust when
                  longer text like this one is used in one of them.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                    class="box d-flex flex-column justify-content-center mb-0 h-100"
                  >
                <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                <h3>100% satisfaction</h3>
                <p class="mb-0">Free returns on everything for 20 days.</p>
              </div>
            </div>
          </div>
          <!-- /.row-->
        </div>
        <!-- /.container-->
      </div>
      <!-- /#advantages-->
      <!-- *** ADVANTAGES END ***-->

      <!--
           *** POPULAR PRODUCT SLIDESHOW ***
           _________________________________________________________
           -->
      <div id="popular">
        <div class="box py-4">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-0 text-center">Popular this week</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row text-center">
          <% @random_books.each do | book | %>
            <div class="col-lg-3 col-md-6">
              <div class="product">
                <div class="card">
                  <%= link_to image_tag(book.image, class: "card-img-top"), book_path(book.id) if book.image.attached? %>
                  <div class="card-body">
                    <h5 class="card-title"><%= book.title %></h5>
                    <p class="card-text author-name">by
                      <% book.authors.each do | author | %>
                        <%= author.name %>
                      <% end %>
                    </p>
                    <p class="card-text price">₹<%= book.price %></p>
                    <div class="pb-2">
                      <%= link_to "View Details", book_path(book.id), class: "btn btn1" %>
                    </div>
                    <% if user_signed_in? %>
                      <%= link_to carts_path(cart: {user_id: current_user.id, book_id: book.id}),
                                    method: :post,
                                    class: "btn btn-primary navbar-btn" do %>
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                      <% end %>
                    <% else %>
                      <%= link_to user_session_path, class: "btn btn-primary navbar-btn" do %>
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- HOT PRODUCT SHLDESHOW END -->
        </div>
      </div>
      <!-- *** id="content" end *** -->
    </div>
  </div>
</div>
