<div id="<%= dom_id book %>">
  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Isbndb:</strong>
    <%= book.isbndb %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= book.publish_date %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Mrp:</strong>
    <%= book.mrp %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= book.discount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Paperback:</strong>
    <%= book.paperback %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book.active %>
  </p>

</div>
