<!--
    *** MAIN ***
    _________________________________________________________
    -->
<div class="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <%= render "layouts/panel" %>

        <div class="col-lg-9">
          <div class="row products">
            <% @books.each do | book | %>
              <div class="col-lg-4 col-md-6">
                <div class="product">
                  <div class="card">
                    <%= link_to image_tag(book.image, class: "card-img-top"), book_path(book.id) if book.image.attached? %>
                    <div class="card-body">
                      <h5 class="card-title"><%= book.title %></h5>
                      <p class="card-text author-name"><%= t '.by' %>
                        <% book.authors.each do | author | %>
                          <%= author.name %>
                        <% end %>
                      </p>
                      <p class="card-text price">₹<%= book.price %></p>
                      <div class="pb-2">
                        <%= link_to (t '.view'), book_path(book.id), class: "btn btn1" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= render "layouts/pagy" %>
        </div>
      </div>
    </div>
    <!-- *** id="content" end *** -->
  </div>
