<!--
    *** MAIN ***
    _________________________________________________________
    -->

<div class="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <%= render "layouts/panel" %>

        <div class="col-lg-9">
          <div id="product_main" class="row">
            <div class="col-lg-6 product_img">
              <%= image_tag (@book.image), class: "rounded-3 product_img" if @book.image.attached? %>
            </div>
            <div class="col-lg-6">
              <div class="box text-center">
                <h1 class="book_title"><%= @book.title %></h1>
                <p class="author_name fs-6"><%= t '.by' %>
                  <% @book.authors.each do | author | %>
                    <%= author.name %>
                  <% end %>
                </p>
                <p class="price">₹<%= @book.price %></p>
                <p class="buttons">
                  <% if user_signed_in? %>
                    <%= link_to wishlists_path(wishlist: {user_id: current_user.id, book_id: @book.id}),
                                method: :post,
                                class: "btn btn-outline-primary" do %>
                      <i class="fa fa-heart"></i><%= t '.wishlist' %>
                    <% end %>
                    <%= link_to carts_path(cart: {user_id: current_user.id, book_id: @book.id}),
                                method: :post,
                                class: "btn btn-primary navbar-btn" do %>
                      <i class="fa fa-shopping-cart"></i> <%= t '.cart' %>
                    <% end %>
                  <% else %>
                    <%= link_to user_session_path, class: "btn btn-outline-primary" do %>
                      <i class="fa fa-heart"></i><%= t '.wishlist' %>
                    <% end %>
                    <%= link_to user_session_path, class: "btn btn-primary" do %>
                      <i class="fa fa-shopping-cart"></i> <%= t '.cart' %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>

          <div id="details" class="box">
            <h4><%= t '.about_author' %></h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet ab, non autem sit nostrum quibusdam. Quo, sit ex ea
              aspernatur necessitatibus, quia accusamus perferendis nam
              ducimus. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Sit quisquam quidem odit unde! Eveniet nihil nobis unde
              nulla expedita et blanditiis, nisi enim minima, mollitia, quam
              at perferendis veniam quasi.
            </p>
            <hr />

            <h4><%= t '.product_details' %></h4>
            <ul>
              <li><strong><%= t '.publisher' %> : </strong><%= @book.publisher.name %></li>
              <li><strong><%= t '.published_date' %> : </strong><%= @book.publish_date %></li>
              <li><strong><%= t '.language' %> : </strong><%= @book.language %></li>
              <li><strong><%= t '.paperback' %> : </strong><%= @book.paperback %></li>
              <li><strong>ISBN No. : </strong><%= @book.isbndb %></li>
            </ul>
          </div>

          <div id="review" class="box">
            <h4><%= t '.product_review' %></h4>
            <hr />
            <div class="review_container">
              <div class="d-flex flex-row mb-1">
                <%= image_tag "avatar1.png", :class => "review_img" %>
                <h5 class="py-2 ms-2">Lorem Droy</h5>
              </div>
              <p>Awesome book!</p>
            </div>

            <div class="review_container">
              <div class="d-flex flex-row mb-1">
                <%= image_tag "avatar2.png", :class => "review_img" %>
                <h5 class="py-2 ms-2">Ipsum Romm</h5>
              </div>
              <p>It's awesome, and I'm happy that I read it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- *** id="content" end *** -->
  </div>
