<!--
    *** MAIN ***
    _________________________________________________________
    -->
<div class="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <%= render "layouts/user_section" %>

        <div id="wishlist" class="col-lg-9">
          <div class="row products">
            <% if !@user_wishlist.empty? %>
              <% @user_wishlist.each do | list |%>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="card">
                      <%= link_to image_tag(list.book.image, class: "card-img-top"), book_path(list.book.id) if list.book.image.attached? %>
                      <div class="card-body">
                        <h5 class="card-title"><%= list.book.title %></h5>
                        <p class="card-text author-name">by
                          <% list.book.authors.each do | author | %>
                            <%= author.name %>
                          <% end %>
                        </p>
                        <p class="card-text price">₹<%= list.book.price %></p>
                        <div class="pb-2">
                          <%= link_to "View Details", book_path(list.book.id), class: "btn btn1" %>
                          <%# <a href="#" class="btn btn1">View Details</a> %>
                        </div>
                        <a href="#" class="btn btn-primary"
                          ><i class="fa fa-shopping-cart"> Add To Cart</i></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col-lg-4 col-md-6">
                No Books found!!
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- *** id="content" end *** -->
  </div>
