<!--
    *** MAIN ***
    _________________________________________________________
    -->
<div class="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <%= render "layouts/user_section" %>

        <div id="wishlist" class="col-lg-9">
          <div class="row products">
            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="card">
                  <%= image_tag "product3", class: "card-img-top" %>
                  <%# <a href="details.html">
                        <img
                          src="images/product5.jpg"
                          class="card-img-top"
                          alt="product_img"
                      /></a> %>
                  <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <p class="card-text author-name">Author Name</p>
                    <p class="card-text price">$ 39</p>
                    <div class="pb-2">
                      <a href="#" class="btn btn1">View Details</a>
                    </div>
                    <a href="#" class="btn btn-primary"
                          ><i class="fa fa-shopping-cart"> Add To Cart</i></a
                        >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="card">
                  <%= image_tag "product1", class: "card-img-top" %>
                  <%# <a href="details.html">
                        <img
                          src="images/product3.jpg"
                          class="card-img-top"
                          alt="product_img"
                      /></a> %>
                  <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <p class="card-text author-name">Author Name</p>
                    <p class="card-text price">$ 39</p>
                    <div class="pb-2">
                      <a href="#" class="btn btn1">View Details</a>
                    </div>
                    <a href="#" class="btn btn-primary"
                          ><i class="fa fa-shopping-cart"> Add To Cart</i></a
                        >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="card">
                  <%= image_tag "product2", class: "card-img-top" %>
                  <%# <a href="details.html">
                        <img
                          src="images/product1.jpg"
                          class="card-img-top"
                          alt="product_img"
                      /></a> %>
                  <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <p class="card-text author-name">Author Name</p>
                    <p class="card-text price">$ 39</p>
                    <div class="pb-2">
                      <a href="#" class="btn btn1">View Details</a>
                    </div>
                    <a href="#" class="btn btn-primary"
                          ><i class="fa fa-shopping-cart"> Add To Cart</i></a
                        >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="card">
                  <%= image_tag "product5", class: "card-img-top" %>
                  <%# <a href="details.html">
                        <img
                          src="images/product4.jpg"
                          class="card-img-top"
                          alt="product_img"
                      /></a> %>
                  <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <p class="card-text author-name">Author Name</p>
                    <p class="card-text price">$ 39</p>
                    <div class="pb-2">
                      <a href="#" class="btn btn1">View Details</a>
                    </div>
                    <a href="#" class="btn btn-primary"
                          ><i class="fa fa-shopping-cart"> Add To Cart</i></a
                        >
                  </div>
                </div>
              </div>
            </div>
            <%= render "layouts/pagy" %>
          </div>
        </div>
      </div>
    </div>
    <!-- *** id="content" end *** -->
  </div>
