<div class="col-lg-3">
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title text-center">Categories</h3>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills flex-column category-menu">
        <li>
          <h3><%= t '.genre' %></h3>
          <ul class="list-unstyled">
            <% Category.all.each do | category | %>
              <li><%= link_to category.name, books_path(category: category.name), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3><%= t '.author' %></h3>
          <ul class="list-unstyled">
            <% Author.all.each do | author | %>
              <li><%= link_to author.name, books_path(author: author.name), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3><%= t '.publisher' %></h3>
          <ul class="list-unstyled">
            <% Publisher.all.each do | publisher | %>
              <li><%= link_to publisher.name, books_path(publisher: publisher.name), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3><%= t '.price' %></h3>
          <ul class="list-unstyled">
            <li>
              <%= link_to "Under ₹100", books_path(min: 0, max: 100), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "₹100 - ₹300", books_path(min: 100, max: 300), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "₹300 - ₹500", books_path(min: 300, max: 500), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "₹500 - ₹1000", books_path(min: 500, max: 1000), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Over ₹1000", books_path(min: 1000, max: 10000), class: "nav-link" %>
            </li>
          </ul>
        </li>
        <li>
          <h3><%= t '.language' %></h3>
          <ul class="list-unstyled">
            <li>
              <%= link_to "English", books_path(language: "English"), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Hindi", books_path(language: "Hindi"), class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Gujarati", books_path(language: "Gujarati"), class: "nav-link" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
